.description-text {
  max-width: 35rem;

  text-align: justify;
  color: var(--gray-light);
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.actions {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .description-text {
    margin: 0 1rem;
    text-align: justify;
  }
}
