<nav class="navbar navbar-expand-lg navbar-dark py-3">
  <div class="container">
    <a href="#" class="navbar-brand title-portfolio d-block">Portfolio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      id="navbarSupportedContent"
      class="collapse navbar-collapse justify-content-end"
    >
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item">
          <a href="#about-me" class="nav-link font-weight-bold text-uppercase"
            >Sobre mim</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#experiences"
            class="nav-link font-weight-bold text-uppercase"
            >Experiências</a
          >
        </li>
        <li class="nav-item">
          <a href="#projects" class="nav-link font-weight-bold text-uppercase"
            >Projetos</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
