<nav class="navbar navbar-expand-lg navbar-dark py-3">
  <div class="container">
    <a href="#" class="navbar-brand title-portfolio d-block">Portfolio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item">
          <a href="#about-me" class="nav-link font-weight-bold text-uppercase"
            >Sobre mim</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#experiences"
            class="nav-link font-weight-bold text-uppercase"
            >Experiências</a
          >
        </li>
        <li class="nav-item">
          <a href="#projects" class="nav-link font-weight-bold text-uppercase"
            >Projetos</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#portfolioNavbar"
    aria-controls="portfolioNavbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"> asd asd a</span>
    asd as as
  </button>

  <div
    class="collapse navbar-collapse justify-content-between"
    id="portfolioNavbar"
  >
    <span class="title-portfolio"> Portfólio </span>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->
<!-- <div class="d-flex justify-content-between">
    

    <ul class="d-inline-flex">
      <li><a href="#">Home</a></li>
      <li><a href="#about-me">Sobre mim</a></li>
      <li><a href="#experiences"> Experiências </a></li>
      <li><a href="#projects"> Projetos </a></li>
    </ul>
  </div> -->
<!-- </nav> -->
