<app-navbar></app-navbar>

<main>
  <section @fade class="container hero">
    <div class="introduction d-flex flex-column justify-content-center">
      OLÁ, EU SOU <br />
      <span class="name-portfolio">MARCOS ANDRADE</span>
      <p>DESENVOLVEDOR FULLSTACK JAVASCRIPT</p>
    </div>
    <div class="actions">
      <button
        class="btn btn-gradient-purple-to-blue"
        (click)="openLink('linkedin')"
      >
        <img
          src="../../../assets/icons/linkedin.svg"
          alt="Icone do Linkedin"
          width="24px"
          height="24px"
        />
        <span class="linkedin-text">LinkedIn</span>
      </button>
      <button
        class="btn btn-gradient-pink-to-purple"
        (click)="openLink('github')"
      >
        <img
          src="../../../assets/icons/github.svg"
          alt="Icone do Github"
          width="24px"
          height="24px"
        />
        GitHub
      </button>
    </div>
    <img
      class="hero-image"
      src="../../../assets/images/polygons.svg"
      alt="Polígonos"
      height="625px"
      width="1022px"
    />
  </section>

  <!-- About me -->
  <section
    data-aos="fade-right"
    data-aos-offset="150"
    data-aos-easing="ease-in-sine"
    data-aos-duration="600"
    class="about-me"
    id="about-me"
  >
    <div class="d-flex justify-content-center align-items-center">
      <img
        class="profile-photo"
        src="../../../assets/images/marcos.jpeg"
        alt="Foto do Marcos"
        height="360"
        width="360"
      />
    </div>

    <div class="d-flex flex-column justify-content-center">
      <p class="section-title">SOBRE MIM</p>
      <span>Goiânia, Goiás</span> <br />
      <p class="description-text">
        Descrição aqui, meus amigos Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Ut atque officia, rem nostrum hic repudiandae facere!
        laudantium animi aperiam hic quidem iusto, esse, eum rem?
      </p>

      <div class="icons-social-media">
        <img
          src="../../../assets/icons/instagram-blue.svg"
          alt="Icone instagram"
          (click)="openLink('instagram')"
        />
        <img
          src="../../../assets/icons/facebook-blue.svg"
          alt="Icone Facebook"
          (click)="openLink('facebook')"
        />
        <img
          src="../../../assets/icons/github-blue.svg"
          alt="Icone GitHub"
          (click)="openLink('github')"
        />
        <img
          src="../../../assets/icons/linkedin-blue.svg"
          alt="Icone Linkedin"
          (click)="openLink('linkedin')"
        />
      </div>

      <div class="actions">
        <button class="btn btn-gradient-pink-to-purple">
          <img
            src="../../../assets/icons/download-cloud.svg"
            alt="Icone para baixar currículo"
            width="24px"
            height="24px"
          />Currículo
        </button>
        <button class="btn btn-gradient-purple-to-blue">
          <a href="mailto:marcospandrade2@gmail.com">
            <img
              src="../../../assets/icons/mail.svg"
              alt="Icone para enviar email"
            />
            Email
          </a>
        </button>
      </div>
    </div>
  </section>

  <!-- Experiences -->
  <section
    data-aos="fade-right"
    data-aos-offset="200"
    data-aos-easing="ease-in-sine"
    data-aos-duration="600"
    class="experiences container"
    id="experiences"
  >
    <p class="section-title">EXPERIÊNCIA</p>

    <div class="wrapper">
      <div class="list-experiences">
        <li class="active">Americanas S.A</li>
        <li>Pitang Agile</li>
        <li>Leadfinder</li>
        <li>Leiloaê</li>
        <li>CISS S.A</li>
      </div>

      <div class="experience-content">
        <header>
          <h4>Desenvolvedor Front End Pleno</h4>
          <span>Fev / 2022 - Atualmente</span>
        </header>
        <p class="subtitle-blue">Americanas S.A</p>

        <p class="description-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
          blanditiis odio voluptatibus quidem ex recusandae praesentium? Quas,
          sequi voluptatem veritatis exercitationem ipsum consectetur neque hic
          atque cumque, voluptas, magnam necessitatibus ipsum consectetur neque
          hic atque cumque, voluptas, magnam necessitatibus magnam
          necessitatibus magnam necessitatibus!
        </p>
      </div>
    </div>
  </section>

  <!-- Projects -->
  <section
    data-aos="fade-right"
    data-aos-offset="200"
    data-aos-easing="ease-in-sine"
    data-aos-duration="600"
    class="projects"
    id="projects"
  >
    <div class="container">
      <p class="section-title">PROJETOS</p>

      <div class="list-projects">
        <div>
          <img
            class="project-image"
            src="../../../assets/images/project-1.png"
            alt="projeto"
            width="600"
            height="200"
          />

          <h3>Nome do projeto</h3>

          <p class="description-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            quidem asdkmarcodlsço asudkasdl!
          </p>

          <p class="used-stacks">Tecnologias usadas no projeto</p>

          <button class="btn btn-gradient-purple-to-blue">
            <img src="../../../assets/icons/link.svg" alt="Icone de Link" />
            Visualizar
          </button>
        </div>

        <div>
          <img
            class="project-image"
            src="../../../assets/images/project-1.png"
            alt="projeto"
            width="600"
            height="200"
          />

          <h3>Nome do projeto</h3>

          <p class="description-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            quidem asdkmarcodlsço asudkasdl!
          </p>

          <p class="used-stacks">Tecnologias usadas no projeto</p>

          <button class="btn btn-gradient-purple-to-blue">
            <img src="../../../assets/icons/link.svg" alt="Icone de Link" />
            Visualizar
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
