main {
  display: flex;
  flex-direction: column;

  button {
    color: var(--light);
    margin-right: 1.5rem;
    padding: 0.75rem 2rem;
    display: inline-flex;

    img {
      margin-right: 0.75rem;
    }
  }

  section {
    min-height: 35rem;
  }

  .section-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .subtitle-blue {
    color: var(--blue);
    font-size: 1rem;
    line-height: 1.5rem;
  }

  //section hero
  .hero {
    margin-top: 12rem;
    min-height: 28rem;

    .introduction {
      font-weight: 600;
      font-size: 1.25rem;
      margin-bottom: 2rem;

      span {
        &.name-portfolio {
          font-size: 3.5rem;
          color: var(--blue);
        }
      }
    }
    .hero-image {
      position: absolute;
      right: 5rem;
      top: 3rem;
      z-index: -999;
    }
  }

  //section about-me
  .about-me {
    background-color: var(--dark-200);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    span {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.5rem;
    }

    .profile-photo {
      border-radius: 0.5rem;
    }

    .icons-social-media {
      margin: 2.5rem 0;

      img {
        cursor: pointer;
        margin: 0 2rem 0 0;
      }
    }
  }

  //section experiences
  .experiences {
    padding-top: 6rem;

    .wrapper {
      display: grid;
      grid-template-columns: 2fr 5fr;
      align-items: center;

      padding-right: 5rem;
      margin-top: 2.5rem;

      .subtitle-blue {
        margin: 2rem 0;
      }

      .list-experiences {
        max-width: 15rem;

        li {
          cursor: pointer;
          list-style-type: none;
          padding: 1rem 2.25rem;
          color: var(--gray-light);

          &.active {
            background-color: var(--dark-200);
            border-left: 2px solid var(--blue);
            color: var(--light);
          }
        }
      }

      .experience-content {
        header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          h4 {
            font-size: 1.5rem;
            line-height: 1.875rem;
            font-weight: 500;
          }
          span {
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
        .description-text {
          max-width: 100%;
        }
      }
    }
  }

  //section projects
  .projects {
    background-color: var(--dark-200);

    .container {
      margin-top: 5rem;
      margin-bottom: 6rem;

      .list-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
        justify-content: end;

        margin-top: 3.75rem;
      }

      .project-image {
        border-left: 4px solid var(--blue);
        margin-bottom: 2.5rem;
      }

      h3 {
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin-bottom: 1.875rem;
      }

      .used-stacks {
        color: var(--blue);
        font-size: 1rem;
        margin: 2rem 0;
      }
    }
  }
}
