main {
  display: flex;
  flex-direction: column;

  button {
    color: var(--light);
    margin-right: 1.5rem;
    padding: 0.75rem 2rem;
    display: inline-flex;

    img {
      margin-right: 0.75rem;
    }
  }

  section {
    min-height: 35rem;
  }

  //section hero

  @media (max-width: 828px) {
    .hero {
      margin-top: 6rem !important;

      .introduction {
        margin: 2rem;
      }
    }

    .hero-image {
      width: 55%;
      right: 1rem !important;
      top: -6rem !important;
    }
  }

  .hero {
    margin-top: 12rem;
    min-height: 28rem;

    .introduction {
      font-weight: 600;
      font-size: 1.25rem;
      margin-bottom: 2rem;

      span {
        &.name-portfolio {
          font-size: 3.5rem;
          color: var(--blue);
        }
      }
    }
    .hero-image {
      position: absolute;
      right: 5rem;
      top: 3rem;
      z-index: -999;
    }

    @media (max-width: 858px) {
    }
  }

  //section about-me
  .about-me {
    background-color: var(--dark-200);

    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr;

    span {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.5rem;
    }

    .profile-photo {
      border-radius: 0.5rem;
    }
    @media (max-width: 768px) {
      .profile-photo {
        width: 60%;
        height: 90%;
      }
    }

    .icons-social-media {
      margin: 2.5rem 0;

      img {
        cursor: pointer;
        margin: 0 2rem 0 0;
      }
    }
  }

  //section projects
  .projects {
    background-color: var(--dark-200);

    .container {
      margin-top: 5rem;
      margin-bottom: 6rem;

      .list-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
        justify-content: end;

        margin-top: 3.75rem;
      }

      .project-image {
        border-left: 4px solid var(--blue);
        margin-bottom: 2.5rem;
      }

      h3 {
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin-bottom: 1.875rem;
      }

      .used-stacks {
        color: var(--blue);
        font-size: 1rem;
        margin: 2rem 0;
      }
    }
  }
}
