<app-navbar></app-navbar>

<main>
  <section class="container hero">
    <div class="introduction d-flex flex-column justify-content-center">
      OLÁ, EU SOU <br />
      <span class="name-portfolio">MARCOS ANDRADE</span>
      <p>DESENVOLVEDOR FULLSTACK JAVASCRIPT</p>
    </div>
    <div class="actions">
      <button class="btn">
        <img
          src="../../../assets/icons/linkedin.svg"
          alt="Icone do Linkedin"
          width="24px"
          height="24px"
        />
        <span class="linkedin-text">LinkedIn</span>
      </button>
      <button class="btn">
        <img
          src="../../../assets/icons/github.svg"
          alt="Icone do Github"
          width="24px"
          height="24px"
        />
        GitHub
      </button>
    </div>
    <img
      class="hero-image"
      src="../../../assets/images/polygons.svg"
      alt="Polígonos"
      height="625px"
      width="1022px"
    />
  </section>

  <section class="about-me">
    <div class="d-flex justify-content-center align-items-center">
      <img
        class="profile-photo"
        src="../../../assets/images/marcos.jpeg"
        alt="Foto do Marcos"
        height="360"
        width="360"
      />
    </div>

    <div class="d-flex flex-column justify-content-center">
      <p class="section-title">SOBRE MIM</p>
      <span>Goiânia, Goiás</span> <br />
      <p class="description-text">
        Descrição aqui, meus amigos Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Ut atque officia, rem nostrum hic repudiandae facere!
        laudantium animi aperiam hic quidem iusto, esse, eum rem?
      </p>

      <div class="icons-social-media">
        <img
          src="../../../assets/icons/instagram-blue.svg"
          alt="Icone instagram"
        />
        <img
          src="../../../assets/icons/facebook-blue.svg"
          alt="Icone Facebook"
        />
        <img src="../../../assets/icons/github-blue.svg" alt="Icone GitHub" />
        <img
          src="../../../assets/icons/linkedin-blue.svg"
          alt="Icone Linkedin"
        />
      </div>

      <div class="actions">
        <button class="btn">
          <img
            src="../../../assets/icons/download-cloud.svg"
            alt="Icone para baixar currículo"
            width="24px"
            height="24px"
          />Currículo
        </button>
        <button class="btn">
          <img
            src="../../../assets/icons/mail.svg"
            alt="Icone para enviar email"
          />
          Email
        </button>
      </div>
    </div>
  </section>

  <section class="experiences container">
    <p class="section-title">EXPERIÊNCIA</p>

    <div class="wrapper">
      <div class="list-experiences">
        <li class="active">Americanas S.A</li>
        <li>Pitang Agile</li>
        <li>Leadfinder</li>
        <li>Leiloaê</li>
        <li>CISS S.A</li>
      </div>

      <div class="experience-content">
        <header>
          <h4>Desenvolvedor Front End Pleno</h4>
          <span>Fev / 2022 - Atualmente</span>
        </header>
        <p class="subtitle-blue">Americanas S.A</p>

        <p class="description-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
          blanditiis odio voluptatibus quidem ex recusandae praesentium? Quas,
          sequi voluptatem veritatis exercitationem ipsum consectetur neque hic
          atque cumque, voluptas, magnam necessitatibus ipsum consectetur neque
          hic atque cumque, voluptas, magnam necessitatibus magnam
          necessitatibus magnam necessitatibus!
        </p>
      </div>
    </div>
  </section>

  <section class="projects">Projetos</section>
</main>
