main {
  display: flex;
  flex-direction: column;

  section {
    min-height: 35rem;
  }

  .section-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .hero {
    margin-top: 12rem;
    min-height: 28rem;

    .introduction {
      font-weight: 600;
      font-size: 1.25rem;
      margin-bottom: 2rem;

      span {
        &.name-portfolio {
          font-size: 3.5rem;
          color: var(--blue);
        }
      }
    }
    .hero-image {
      position: absolute;
      right: 5rem;
      top: 3rem;
      z-index: -999;
    }
  }

  .about-me {
    background-color: var(--dark-200);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .description-text {
      max-width: 35rem;

      text-align: justify;
      color: var(--gray-light);
      font-size: 1.25rem;
      line-height: 1.875rem;
      font-weight: 300;
    }

    img {
      border-radius: 0.5rem;
    }

    .icons-social-media {
      margin: 2.5rem 0;
    }
  }

  .actions {
    button {
      color: var(--light);
      border: 1px solid var(--light);
      margin-right: 1.5rem;
      padding: 0.5rem 2rem;
      display: inline-flex;

      img {
        margin-right: 0.5rem;
      }
    }
  }
}
